---
layout: base.njk
---

<h1>{{ metadata.title }}</h1>
<ul>
  <li>Time: {{ metadata.time }}</li>
  <li>Servings: {{ metadata.servings }}</li>
  <li>
    {% if metadata.source and "http" in metadata.source %}
      <a href="{{ metadata.source }}">Source</a>
    {% else %}
      Source: {{ metadata.source }}
    {% endif %}
  </li>
</ul>
<ol>
  {{ steps | safe }}
</ol>